@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(9, 66, 83);
}

*{
    box-sizing: border-box;
    outline: 0;
}
body{

    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
}

.tabela{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    gap: 0px;
    margin-bottom: 20px;
}

.imc, .resultado {
    text-align: left;
    margin: 6px 0; 
}

.sucesso {
    background: rgb(125, 243, 150); 
    padding: 10px;
}

.erro {
    background: rgb(255, 141, 132); 
    padding: 10px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input{
    font-size: 20px;
    height: 40px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}
form button{
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}

p button:hover{
    background: var(--primary-color-darker);
}
p input, p label, p button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

p input{
    font-size: 20px;
    height: 40px;
    padding: 0 20px;
}

p input:focus{
    outline: 1px solid var(--primary-color);
}

p button{
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}

p button:hover{
    background: var(--primary-color-darker);
}

li {   
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.apagar{
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 9px;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
    margin: 15px;
}