@font-face {
    font-family: fonte1;
    src: url(../fonts/Karla-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: fonte2;
    src: url(../fonts/Karla-VariableFont_wght.ttf);
}
:root{
--verde: hsl(148, 38%, 91%);
--Green600: hsl(169, 82%, 27%);
--vermelho: hsl(0, 66%, 54%);
--branco: hsl(0, 0%, 100%);
--cinza: hsl(186, 15%, 59%);
--cinzaEscuro: hsl(187, 24%, 22%);
}
@media (min-width: 375px) {
    body{
        max-width: 400px; 
    };
}

*{
    margin: auto;
}
form {
    display: flex;
    flex-direction: column;
}
.dados{
    padding-bottom: 20px;
    padding-top: 20px;
    float: left;
}
input{
    width: auto;
    padding: 10px;
    border-radius: 10px;
}

.nameA{
    display: flex;
    flex-direction: row;
}
.last .first{
    flex-direction: column;
}
.email{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.email input {
    width: 380px;

}

.botoes{
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: space-between;
    margin: 0;
}

.botoes input{
    width: 120px;
    border-radius: 10px;
    padding: 15px;
    background: var(--branco);
}