@font-face {
    font-family: fonte1;
    src: url(../fonts/Karla-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: fonte2;
    src: url(../fonts/Karla-VariableFont_wght.ttf);
}
:root{
--verde: hsl(148, 38%, 91%);
--Green600: hsl(169, 82%, 27%);
--vermelho: hsl(0, 66%, 54%);
--branco: hsl(0, 0%, 100%);
--cinza: hsl(186, 15%, 59%);
--cinzaEscuro: hsl(187, 24%, 22%);
}
@media (min-width: 375px) {
    main{
        max-width: 400px; 
    };
}

*{
    margin: 0 auto;
}

body{
    background: var(--verde);
    font-family: 'fonte1', sans-serif;
}

form {
    width: 90%;
    max-width: 800px;
    padding: auto;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content:  center;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: right;
}