/* 1. Importando a fonte do desafio */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: var(--light-grayish-cyan);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-wrapper input{
    font: 1em;
    padding: 10px;
}

/* 2. O Container Branco (Calculadora) */
.calculadora-container {
    background-color: var(--white);
    width: 100%;
    max-width: 920px;
    padding: 32px;
    border-radius: 25px;
    display: flex; /* Aqui a mágica de colocar lado a lado acontece */
    gap: 48px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
}

/* 3. Lado Esquerdo (Configurações) */
.configuracoes {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.grid-botoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    gap: 16px;
    margin-top: 16px;
}

.btn-tip {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-tip:hover {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}

/* 4. Lado Direito (Painel Verde) */
.display-resultados {
    flex: 1;
    background-color: var(--very-dark-cyan);
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linha-resultado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.texto span {
    color: var(--white);
    display: block;
}

.texto small {
    color: var(--dark-grayish-cyan);
}

.valor {
    color: var(--strong-cyan);
    font-size: 48px;
}

/* 5. O Botão Reset */
.btn-reset {
    background-color: var(--strong-cyan);
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: var(--very-dark-cyan);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
}

/* 6. Responsividade (O que você pediu no início!) */
@media (max-width: 375px) {
    .calculadora-container {
        flex-direction: column; /* No celular, fica um em cima do outro */
        padding: 24px;
    }
    
    .grid-botoes {
        grid-template-columns: repeat(2, 1fr); /* No celular, apenas 2 colunas */
    }
}