@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Unica+One&display=swap');
@media(width: 600px){
    .imagens img{
        height: 20px;
    }
}

@font-face {
    font-family: "titulo";
    src: url('https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Unica+One&display=swap');
}
:root {

  --bg-gamer: #0b0c10;
  --bg-card: #1f2833;
  
  --rgb-red: #ff3366;    
  --rgb-green: #00ff66;  
  --rgb-blue: #00f0ff;   
  --rgb-purple: #9400d3; 
  
  --texto-claro: #ffffff;
  --texto-mutado: #c5c6c7;
}
*{
  padding: 0;
  box-sizing: border-box; /* Garante que padding não quebre o layout */
}
h1 h2{
    font-family: "titulo", sans-serif;
}
.conteudo {
    margin: auto;
    min-width: 320px;
    max-width: 800px;
    font-size: 20px;
    border-radius: 10px;
    background: var(--bg-card);
    padding: 30px;
}
.descricao{
    margin-bottom: 10px;
}
body{
    margin: 0;
    min-width: 400px;
    background: var(--bg-gamer);
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: var(--texto-claro);
    padding-top: 50px;
}

header{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding-bottom: 10px;
}
a{
    background: transparent;
    text-decoration: none;
    color: var(--texto-claro);
}

a:hover{
    color: var(--rgb-blue);
}
.imagens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
    gap: 15px;
}

.imagens img{
    height: auto;
    width: 150px;
}

img:hover{
    transform: scale(1.05)
}
form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
input{
    padding: 10px;

}
label{
    margin-bottom: 5px;
}
button{
    width: 150px;
    padding: 20px;
    margin-top: 15px;
}
