<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/icone.png" type="image/x-icon">
    <title>Pixel forge</title>
</head>
<body>
    <div class="conteudo">
        <form action="/contato" method="post" >
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <label for="mensagem">Mensagem</label>
            <input type="text" id="mensagem" name="mensagem">

            <button>Enviar</button>
        </form>
    </div>
</body>
</html>