<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/icone.png" type="image/x-icon">
    <title>Pixel Forge</title>
</head>

<body>
    <div class="conteudo">
        <header>
            <div class="cabecalho">
                <h1>Pixel Forge Studio</h1>
            </div>
        </header>
        <main>
            <section>
                <div class="descricao">
                    <p>
                        No <strong>PixelForge Studio</strong>, nós não apenas criamos arte; nós moldamos universos.
                        Somos um estúdio criativo focado no ecossistema gamer, desenvolvendo identidades visuais para
                        e-sports, designs para transmissões ao vivo e manipulações digitais que elevam o nível de
                        qualquer projeto. Pronto para o próximo nível?
                    </p>
                </div>
            </section>
            <h2>Alguns de nossos trabalhos: </h2>
            <section>
                <div class=" imagens">
                    <img src="https://imgs.search.brave.com/EKrDWVS_8u1Aljv8vXrtxR6d8iRhotGc38jJ_NrcyzE/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvZ2Ft/ZXMtcGljdHVyZXMt/c3J0dHZ1bGZzbHZk/bjdxdi5qcGc"
                        alt="um jogo de ação frenético">
                    <img src="https://imgs.search.brave.com/Ce9aSQOF_K_R2CJZStPjUEzwbCK6t3eMjux-eg79shQ/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvZ2Ft/ZXMtcGljdHVyZXMt/ZHBhZ3NuZnZmeHV0/czQ3Yi5qcGc"
                        alt="duas pessoas com controles">
                    <img src="https://imgs.search.brave.com/NcMtF_bWRj279i8OHT2a2I3r9JEjJGvOagHYvtH8obs/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvZ2Ft/ZXMtcGljdHVyZXMt/YjF0czFpZmJncDU5/b3E1cy5qcGc" alt="alguem jogando">
                    <img src="https://imgs.search.brave.com/qZCWD8B0dqf4w4lMO8ZDmjrxFl6A-7LHAW4CfoB5FUM/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvZ2Ft/ZXMtcGljdHVyZXMt/M29qM3B0cnlraDl4/OXd3bC5qcGc" alt="imagem do jogo fortinite">
                </div>
            </section>
        </main>

        <footer>
            <p> <a href="/contato">Formulário para contato</a></p>
            <p>Para saber mais sobre nosso trabalho? <a href="/sobre">Clique aqui</a></p>
        </footer>
    </div>
</body>

</html>