<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/icone.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Forge</title>
</head>
<body>
    <main>
        <div class="conteudo">
            <p>Mensagem enviada com sucesso. Obrigado por entrar em contato!</p>
            <p><a href="/">Clique aqui</a> para voltar para nossa página principal!</p>
        </div>
    </main>
</body>
</html>